.img{
    
    margin-top: 0cm;
   margin-left: 0.5cm;
    width:1cm;
    height:1cm;
}

.cart{ 
        margin-left: -1cm;
        position: fixed;
        top: 0;
        border: 2px solid white;
        width: 17cm;
        height:12cm;
        box-shadow: rgb(110, 109, 109);
        background-color: azure;

    }
.title{
    font-size: small;
    font-weight: bold;
 

}
.list{
 display:flex;
 align-items: center;
}
.headers{
    display:flex;
    align-items: center;
    font-weight: bold;
    font-size: x-large;
   }
.headers div{
padding: 15px;;
   }
.list div{
    padding-right:15px;
    padding-bottom: 1cm;
}



.close{margin-left: 1cm;
    margin-top: 0.5cm;
    width: 2cm;
    height: 1cm;
    color: azure;
    background-color: black;
    position: fixed;
}
.purchase{
    position: fixed;
 margin-left: 12cm;
 margin-top: 0.5cm;
    width: 3cm;
    height: 1cm;
    color: azure;
    background-color: black;
}
.price{
    position: relative;
    margin-left: 4cm;
}
.totalamount{
   
    width: 30%;
    padding-top: 0.5cm;
   border-radius: 10px;
    height: 1cm;
    background-color: red;
    color: white;
    font-weight: bold;
    font-style: italic;
    
}