.img{
    
    margin-top: 0cm;
   margin-left: 0.5cm;
    width:1cm;
    height:1cm;
}

.cart{ 
        margin-left: -4cm;
        position: fixed;
        top: 1cm;
        border: 2px solid white;
        width: 23cm;
        height:12cm;
        border-radius: 30px;
        box-shadow: rgb(159, 159, 206) 15px 15px 15px 15px;
        border: 5px solid red;
        background-color:wheat;

    }
.title{
    font-size: small;
    font-weight: bold;
 

}
.list{
 display:flex;
 align-items: center;
}
.headers{
    display:flex;
    align-items: center;
    font-weight: bold;
    font-size: large;
    margin-left: 10cm;
    border: 2px solid white;
 
    background-color:white;
    
    height: fit-content;
    width: fit-content;
   }
.headers div{
padding: 15px;;
   }
.list div{
    padding-right:15px;
    padding-bottom: 1cm;
}



.close{margin-left: 12cm;
    margin-top: 0.5cm;
    width: 2cm;
    height: 1cm;
    color: azure;
    background-color: black;
    position: relative;
}
.purchase{
    position: fixed;
 margin-left: 3cm;
 margin-top: 0.5cm;
    width: 3cm;
    height: 1cm;
    color: azure;
    background-color: black;
}
.price{
    position: relative;
    margin-left: 4cm;
}
.totalamount{
   margin-left: 0.5cm;
    width: 6cm;
    height: fit-content;
    padding: auto;
   border-radius: 10px;
   border: 1px solid green ;
    height: 1cm;
    background-color:yellowgreen;
    color: white;
    font-weight: bold;
    font-style: italic;
    position:fixed;
    
}