.ul{
    position: relative;
    margin-left: 5cm;

    margin-top: 1cm;
    columns: 2;
    
 


}

.head{
   
    margin-top:1.5cm ;
   margin-left: 15cm;
}
.welcome{
    display: grid;
    position: relative;
    align-items: center;
    padding-inline-start: 4.5cm;
    padding-bottom: 1cm;
    padding-top: 1cm;
    margin-top: 1.6cm;
    background-color: rgb(243, 101, 6);
    color: white;
    width: 100%;
    height: max-content;
    font-size: -webkit-xxx-large;
}