.backdrop
{ position:fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    background-color:rgba(0,0, 0, .7);
    
}
.cart{
margin-left: 8cm;
    position: fixed;
    top: 0;
    border: 2px solid white;
    width: 15cm;
    height:15cm;
    box-shadow: rgb(110, 109, 109);
    background-color: azure;
    
}
